.live {
    height: 55px;
    border-radius: 5px;
    font-size: small;
    color: black;
    background-color: white;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    margin: 0 1px;
    text-align: center;
}

.checked {
    background-color: #9c8383;
    color: white;
}