.stage {
    height: 40px;
    border-radius: 5px;
    font-size: small;
    color: black;
    background-color: white;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    margin: 0 1px;
    align-content: center;
    text-align: center;
}
/* 1m = 5px */
.time15 {
    width: calc(75px - 12px);
}

.time20 {
    width: calc(100px - 12px);
}

.time25 {
    width: calc(125px - 12px);
}

.time30 {
    width: calc(150px - 12px);
}

.time45 {
    width: calc(225px - 12px);
}

.time80 {
    width: calc(400px - 12px);
}